.castlist {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.castlist_item {
    margin-right: 10px;
}

.castlist_img {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 120px;
    border-radius: 10px;
    border: 2px solid #ff424f;
}
.castlist_name {
    margin-top: 5px;
    font-size: 14px;
    width: 100px;
}
