
.header {
    background-color: #f83745;
    height: 5vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    z-index: 1;
    justify-content: flex-start;
    align-items: center;
    gap: 4.5rem;
    transition: .3s ease-in;    
}

.header_logo {
    display: flex;
    padding-left: 40px;
    cursor: pointer;
}

.logo {
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
}
 .header_logo .menu {
    display: none;
}



.header_search {
    position: relative;
    padding-left: 60px;
    padding-top: 10px;
}

.search_icon {
    position: absolute;
    opacity: 0.8;

}
.search_input {
    padding-left: 25px;
    font: inherit;
    font-size: 14px;
    font-weight: 600;
    background-color: inherit;
    border-style: none;
    outline: none;
    color: rgba(255, 255, 255, 0.9);

}
::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.search_btn {
    font: inherit;
    display: none;
}


@media (max-width: 1200px) {
    .logo {
        font-size: 0.8rem;
    }
    .header_logo {
        padding: 20px;
    }
    
}

@media (max-width: 975px) {
    .header_logo {
        font-size: 0.8rem;
    }
    .header {
        justify-content: space-between;
    }
   
    
}

@media (max-width: 750px) {
    .logo {
        display: none;
    }
    

    .header .menu {
        display: block;
    }

    a {
        justify-content: center;
        align-items: flex-start;
    }
    .sidebar_links {
        display: flex;
    }
    .sidebar_link h3 {
        display: inline;
        width: 100%;
    }
    
    
    
}


@media (max-width: 550px) {
   
    
}