.mainbar {

    width: 85%;
}
.movie {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    background-color: #222b31;
    padding: 60px;
}

.mainbar_header {
    height: 5vh;
    background-color: #ff424f;
    position: sticky;
    top: 0;
}

.mainbar_search {
    position: relative;
    padding-left: 60px;
    padding-top: 10px;
}

.mainbar_search_icon {
    position: absolute;
    opacity: 0.8;

}
.mainbar_search_input {
    padding-left: 25px;
    font: inherit;
    font-size: 14px;
    font-weight: 600;
    background-color: inherit;
    border-style: none;
    outline: none;
    color: rgba(255, 255, 255, 0.9);

}
::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.mainbar_search_btn {
    font: inherit;
    /* display: none; */
}


