/* .mainbar {

} */
.movie {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    background-color: #222b31;
    padding: 60px;
}

@media (max-width: 1200px) {
    .movie {
        width: 100%;
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;
    }
}


@media (max-width: 975px) {
    .movie {
        width: 100%;
        grid-template-columns: auto auto auto;
        gap: 1rem;
        
    } 
}
@media (max-width: 750px) {
    .movie {
        width: 100%;
        grid-template-columns: auto auto auto;
        gap: 1rem;
        background-color: #222b31;
        
    }
    .mainbar_header .menu {
        display: block;
        margin: 5px 0 0 20px;
    }
    .mainbar_header {
        height: 5vh;
        background-color: #ff424f;
        position: sticky;
        top: 0;
        display: flex;
    } 
}

@media (max-width: 550px) {
    .movie {
        width: 100%;
        grid-template-columns: auto auto;
        gap: 1rem;
        /* padding: 20px; */
    }
    .mainbar_header {
        width: 100%
    }
    
}

@media (max-width: 450px) {
    .movie {
        width: 100%;
        margin: 0 auto;
        grid-template-columns: auto;
        padding: 70px;
    }

    .movie_card {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    
}
