.movie_card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.movie_card_img {
    max-width: 80%;
    height: 300px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 5px;
    
}

.movie_card_name {
    font-size: 16px;
    font-weight: 600;
    width: 200px;
}

.movie_card_rating,
.movie_card_year,
.movie_card_overview {
    color: #81a2b8;
    font-weight: 400;
    font-size: 12px;
}

.movie_card_rating {
    font-weight: 600 !important;
    color: #ffb10a;
}

/* .movie_card_overview {
    width: 200px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
} */



