.movie_detail_container {
    height: 100vh;
    width: 100%;
    color: #000;
    margin: 0 auto;
    background-color: black;
}

.backdrop_container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.backdrop_image {
    width: inherit;
    height: inherit;
}
.details_section {
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    max-height: 100vh;
    position: absolute;
    margin-top: 200px;
}
.poster_img {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    flex: 0.3;
    border-radius: 20px;
}
.rating_body {
    position: absolute;
    left: -1px;
    border-radius: 5px;
    width: 70px;
    height: 70px;
    background-color: #ff424f;
    text-align: center;
    padding-top: 10px;
}

.rating {
    position: relative;
    font-size: 40px;
    color: white;
}

.details {
    flex: .7;
    width: 400px;
    height: 400px;
    color: #fff;
    margin-left: 40px;
}

.movieDetails_title {
    font-weight: 700;
    line-height: 1;
    font-size: 4rem;
    width: 500px;
}

.movieDetails_genre {
    margin: 20px 0 20px 0;
}

.movieDetails_genre span {
    padding: .5rem 1rem;
    margin-right: 5px;
    border: 2px solid #ff424f;
    border-radius: 20px;
    font-weight: 600;
    font-size: 12px;
    background-color: #222b31;
}

.movieDetails_overview {
    font-size: 1rem;
    width: 600px;
}

.castlist_header {
    margin-top: 20px;
}
.castlist_header_name {
    font-size: 18px;
}
