.movie_detail_container {
    height: 100vh;
    width: 100%;
    color: #000;
    background-color: black;
}

.backdrop_container {
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.backdrop_image {
    width: inherit;
    height: inherit;
}
.details_section {
    display: flex;
    height: 100vh;
    position: absolute;
    /* margin-top: 300px; */
}
.poster_img {
    flex: 1;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    height: 450px;
    width: 300px;
}