.sidebar {
    height: 100vh;
    position: sticky;
    top: 0;
    background-color: #191c1f;
}

.sidebar_header {
    background-color: #f83745;
    height: 5vh;
    position: sticky;
    top: 0;
}

.sidebar_logo {
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
}

.sidebar_links {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}
.sidebar_link {
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: .9rem;
    padding: 20px 0 20px 30px;
    cursor: pointer;
}

.sidebar_link:hover {
    background-color: #222b31;

}
a:active {
    background-color: #222b31;
    color: #f83745;
}

.active {
    background-color: #222b31;
    color: #f83745;
}

