@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  background-color: #fff;
}

.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;

}
