@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  background-color: #fff;
}

.app {
  margin: 0 auto;
}

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display:  grid;
  grid-template-columns: 12rem auto;

}

@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
    grid-template-columns: 6rem auto;
  }

  
}

@media screen and (max-width: 970px) {
  .container {
    width: 100%;
    grid-template-columns: 0 auto;
  }

  
}
@media screen and (max-width: 750px) {
  .container {
      width: 100%;
      grid-template-columns: 0 1fr;
  } 
  
}
